@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf")  format("truetype");
		font-weight: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Light.ttf") format("truetype");
    font-weight: light;
}
/* --------------- базовые настройки ---------*/
html {
	min-height:100%; /* всегда показываем вертикальную полосу прокрутки  */
}
	body {
		margin: 0;
		padding: 0;
	  font-family: "Roboto", "Arial", sans-serif;
	  background-color: #849d8f;
		font-size: 14px;
		line-height: 24px;
    min-height:100%;
	}
	a, a:visited { /* порядок правил для ссылок имеет значение */
		text-decoration: none;
		color: #fff;
	}
	img{
		max-width:100%;
	}
	ul{
		padding: 0;
		margin: 0;
	}
	nav ul {
	  list-style:none;
	}
	h1{
		font-size: 40px;
	}
	h2 {
		font-size: 36px;
		line-height: 36px;
    color: #fff;
    margin:  0;
	}
	p{
		font-size: 16px;
		line-height: 22px;
		color: #fff;
	}
	b {
		font-size: 18px;
		line-height: 30px;
	}

 /*---Настройки фона и слайдера---*/
body > input[type="radio"] {
  display: none;
}
.site-wrapper {
  max-width: 2000px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}
  /* Псевдоэлементы с изображениями нужны только для предзагрузки картинок, чтобы они уже были в кеше в момент переключения слайдов и сразу отображались */
  .site-wrapper:before,
  .site-wrapper:after {
    content: "";
    visibility: hidden;
  }
  .site-wrapper:before {
    background-image: url("../img/slider-img-2.png");
  }
  .site-wrapper:after {
    background-image: url("../img/slider-img-3.png");
  }
.content-wrapper {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}
.btn {
  font-weight: 600;
  vertical-align: top;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border: none;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}
  .btn:hover {
    background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  }
  .btn:active {
    background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  }
.slider {
  position: relative;
  padding-top: 270px;
  text-align: center;
  color: #fff;
}
  .slide {
    display: none;
  }
  .slide-title {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 22px;
  	line-height: 1.1;
    font-weight: 800;
    font-size: 60px;
  }
  .slide .btn {
    display: inline-block;
    padding: 12px 50px;
    font-size: 31px;
    line-height: 41px;
    border-radius: 100px;
  }
  .slider-controls {
    position: absolute;
    bottom: 25px;
    left: 0;
    z-index: 20;
    font-size: 0;
  }
  .slider-controls label {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;
    margin-top: 5px;
    vertical-align: top;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
  }

  #btn-1:checked ~ .site-wrapper #slide1,
  #btn-2:checked ~ .site-wrapper #slide2,
  #btn-3:checked ~ .site-wrapper #slide3 {
    display: block;
  }

  #btn-1:checked ~ .site-wrapper {
    background-color: #849d8f;
    background-image: url("../img/slider-img-1.png");
  }
  #btn-2:checked ~ .site-wrapper {
    background-color: #8996a6;
    background-image: url("../img/slider-img-2.png");
  }
  #btn-3:checked ~ .site-wrapper {
    background-color: #9d8b84;
    background-image: url("../img/slider-img-3.png");
  }

  #btn-1:checked ~ .site-wrapper label[for="btn-1"],
  #btn-2:checked ~ .site-wrapper label[for="btn-2"],
  #btn-3:checked ~ .site-wrapper label[for="btn-3"] {
    background-color: #fff;
  }
/*---Конец настройки фона и слайдера---*/

/*--- header---*/
.main-header {
  font-weight: bold;
}
  .main-header a {
    margin:  0;
    padding: 0;
  }
  .main-header * {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
    .main-menu {
      margin-top: 15px;
      margin-left: 15px;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
    }
      .main-menu li{
        padding:0 15px;
      }
      .main-menu a{
        color: #fff;
        font-size: 16px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      }
      .main-menu .sub-menu {
        display: none;
      }
      .user-block {
        margin-top: 12px;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
      }
      .user-block .search {
        display: block;
        height: 32px;
        width: 32px;
        background: rgba(255, 255, 255, 0.2);
        padding: 7px auto;
        border-radius: 50%;
        margin-right: 10px;
      }
        .user-block .search img {
          padding: 7px;
        }
      .enter .login, .cart .login {
        position: relative;
        padding:3px 15px 5px 45px;
        display: inline-block;
        margin-right: 10px;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 15px;
      }
      .cart .login {
        padding-right: 30px;
      }
        .login::before {
          content: "";
          position: absolute;
          background: transparent url(../img/icon-enter.png);
          width: 21px;
          height: 19px;
          left: 18px;
          top: 7px;
        }
        .cart .login::before {
          background: transparent url(../img/icon-cart.png);
          height: 20px;
        }
  .header-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-top: -15px;
    padding-right: 10px;
    padding-top: 10px;
    color:  #fff;
  }
    .header-bottom  p {
      margin:  0;
      padding:  0;
      font-size: 14px;
    }
    .header-bottom span {
      font-size: 22px;
    }
/*Конец хедера*/

/*--- MAIN---*/
/*--- banner 2 blocks---*/
    .banner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding-top: 40px;
    }
      .banner h2{
        font-size: 35px;
        line-height: 41px;
        font-weight: bold;
      }
      .banner p {
        font-size: 18px;
        line-height: 22px;
        font-weight: bold;
      }
      .banner-left, .banner-right {
        width: 48.9%;
        border-radius: 15px;
        padding: 20px;
        box-sizing: border-box;
      }
      .banner-left {
        background: #ca4360 url(../img/bg-berry.jpg) no-repeat;
        background-size: cover;
      }
      .banner-right {
        background: #805c4c url(../img/bg-choco.jpg) no-repeat;
        background-size: cover;
      }
      .banner .btn {
        display: inline-block;
				float: right;
        padding: 12px 20px;
				margin-top: 20px;
        font-size: 18px;
        line-height: 24px;
        border-radius: 25px;
      }

/*Каталог товаров*/
		.catalog-list {
			width: 100%;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: justify;
			    -ms-flex-pack: justify;
			        justify-content: space-between;
			-ms-flex-wrap: wrap;
			    flex-wrap: wrap;
			margin-top: 35px;
		}
			.catalog-item {
				width: 23.3%;
        position: relative;
			}
        .catalog-item img{
          border-radius: 100%;
        }
				.catalog-item .hit {
					position: absolute;
					top: 0;
					z-index: 2;
				}
				.catalog-item .price{
					display: inline-block;
					position: absolute;
					top: 210px;
          left:0;
          padding-left: 5px;
					z-index: 2;
					font-size: 45px;
					line-height: 45px;
					font-weight: bold;
					color: #fff;
					text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
				}
					.catalog-item .price img {
						margin: 0;
						padding: 0;
						margin: 0 3px -3px 6px;
					}
					.catalog-item .price span {
						font-size: 30px;
						line-height: 45px;
						vertical-align: baseline;
					}
				.catalog-item p {
					font-weight: bold;
					text-align: center;
					margin-top: 5px;
				}
  				.catalog-item p a {
  					border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  				}
          .catalog-item .btn {
            opacity: 0;
            display: block;
            padding: 12px 10px;
    				margin: 15px 25px;
            font-size: 18px;
            line-height: 24px;
            text-align: center;
            border-radius: 25px;
          }
        .catalog-item:hover {
          background: rgba(255, 255, 255, 0.3);
          border-radius: 5px;
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
        }
          .catalog-item:hover .btn {
            opacity: 1;
          }
          .catalog-item:hover .btn:hover {
            background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
            background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
            box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
          }

/*Блок преимуществ*/
		.features {
			display: block;
			background: #eee2cb url("../img/pattern-waffle.jpg");
			border-radius: 10px;
			padding: 25px 20px;
		}
			.features h2 {
				color: #323232;
				font-size: 24px;
				font-weight: 500;
				line-height: 30px;
				margin-bottom: 7px;
			}
				.features-desc {
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-pack: justify;
					    -ms-flex-pack: justify;
					        justify-content: space-between;
					-ms-flex-wrap: wrap;
					    flex-wrap: wrap;
				}
					.features-item {
						width: 48.5%;
					}
						.features-item p {
							position: relative;
              margin: 14px 0;
							padding-left: 60px;
							display: ;inline-block;
							color: rgba(50,50,50,0.8);
							font-size: 16px;
							line-height: 22px;
							font-weight: 500;
						}
						.features-item p::before {
							content: "";
							position: absolute;
							background: transparent url(../img/icon-cow.png);
							width: 49px;
							height: 49px;
							left: 0;
							top: -12px;
						}
							.features-item:nth-child(1) p::before {
								background: transparent url(../img/icon-icecream.png);
							}
							.features-item:nth-child(2) p::before {
								background: transparent url(../img/icon-cow.png);
							}
							.features-item:nth-child(3) p::before {
								background: transparent url(../img/icon-leaf.png);
							}
							.features-item:nth-child(4) p::before {
								background: transparent url(../img/icon-temperature.png);
							}

/*Новости + рассылка*/
			.two-blocks {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-pack: justify;
				    -ms-flex-pack: justify;
				        justify-content: space-between;
				margin-top: 35px;
			}
				.two-blocks-left, .two-blocks-right {
					width: 48.9%;
					box-sizing: border-box;
					border-radius: 15px;
				}
        .two-blocks-left {
          background: #f8f7f4 url("../img/bg-icecream.jpg");
          background-size: cover;
          padding-top: 20px;
          padding-left: 15px;
        }
          .two-blocks-left p {
            margin: 0;
            padding-bottom: 10px;
            font-size: 16px;
            line-height: 22px;
            font-weight: 500;
            color: #323232;
          }
          .two-blocks-left a {
            font-size: 24px;
            line-height: 30px;
            font-weight: bold;
            color: #323232;
            text-decoration: underline;
          }
        .two-blocks-right {
          background: #f8f7f4 url("../img/pattern-post.jpg");
        }
          .substrate {
            background: #f8f7f4;
            margin: 5px;
            border-radius: 9px;
            padding: 30px 20px;
          }
            .substrate p {
              margin: 0;
              font-size: 16px;
              line-height: 22px;
              font-weight: 500;
              color: #5a5a5a;
            }
            .substrate .post-form {
              margin-top: 35px;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: justify;
                  -ms-flex-pack: justify;
                      justify-content: space-between;
            }
              .post-form input {
                -webkit-box-flex: 1;
                    -ms-flex-positive: 1;
                        flex-grow: 1;
                font-size: 16px;
                font-weight: 500;
                padding-left: 10px;
                border: 1px solid #d3d3d2;
                border-radius: 5px;
              }
              .post-form input:hover {
                border: 3px solid #c7c6c5;
              }
              .post-form input:focus {
                border: 3px solid #8fbdec;
                }
              .post-form .btn {
                padding: 12px 15px;
                font-size: 18px;
                line-height: 24px;
                text-align: center;
                border-radius: 25px;
                margin-left: 10px;
              }
        .map {
          width: 100%;
          height: 425px;
          background: url("../img/bg-cart.jpg");
        }



  .modal-user, .modal-search {
    display: none;
  }
