
@font-face {
    font-family: "Roboto";
    src:
		url("../fonts/Roboto-Regular.ttf")  format("truetype");
		font-weight: normal;
}
@font-face {
    font-family: "Roboto";
    src:
		url("../fonts/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Roboto";
    src:
    url("../fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "Roboto";
    src:
		url("../fonts/Roboto-Light.ttf") format("truetype");
    font-weight: light;
}
/* --------------- базовые настройки ---------*/
html {
	min-height:100%; /* всегда показываем вертикальную полосу прокрутки  */
}
	body {
		margin: 0;
		padding: 0;
	  font-family: "Roboto", "Arial", sans-serif;
	  background-color: #849d8f;
		font-size: 14px;
		line-height: 24px;
    min-height:100%;
	}
	a, a:visited { /* порядок правил для ссылок имеет значение */
		text-decoration: none;
		color: #fff;
	}
	a:hover {
	}
	a:focus, a:active {
	}
	img{
		max-width:100%;
	}

	ul{
		padding: 0;
		margin: 0;
	}
	ul {
	  list-style:none;
	}
	h1{
		font-size: 40px;
	}
	h2 {
		font-size: 36px;
		line-height: 36px;
    color: #fff;
    margin:  0;
	}
	p{
		font-size: 16px;
		line-height: 22px;
		color: #fff;
	}
	b {
		font-size: 18px;
		line-height: 30px;
	}

 /*---Настройки фона и слайдера---*/

body > input[type="radio"] {
  display: none;
}
.site-wrapper {
  max-width: 2000px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

/* Псевдоэлементы с изображениями нужны только для предзагрузки картинок, чтобы они уже были в кеше в момент переключения слайдов и сразу отображались */

.site-wrapper:before,
.site-wrapper:after {
  content: "";
  visibility: hidden;
}
.site-wrapper:before {
  background-image: url("../img/slider-img-2.png");
}
.site-wrapper:after {
  background-image: url("../img/slider-img-3.png");
}
.content-wrapper {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.slider {
  position: relative;
  padding-top: 270px;
  text-align: center;
  color: #fff;
}
.slide {
  display: none;
}
.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 22px;
	line-height: 1.1;
  font-weight: 800;
  font-size: 60px;
}
.btn {
  font-weight: 600;
  vertical-align: top;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border: 0;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}
.btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider .btn {
  display: inline-block;
  padding: 12px 50px;
  font-size: 31px;
  line-height: 41px;
  border-radius: 100px;
}
.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  margin-top: 5px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-img-1.png");
}
#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-img-2.png");
}
#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-img-3.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #fff;
}
/*---Конец настройки фона и слайдера---*/
/*--- header---*/
.main-header {
  font-weight: bold;
}
.main-header a {
  margin:  0;
  padding: 0;
}
.main-header * {
  display: flex;
}
  .header-top {
    flex-wrap: wrap;
  }
  /*Навигация*/
    .main-menu {
      margin-top: 15px;
      margin-left: 15px;
      align-items: flex-start;
      flex-grow: 1;
    }
      .main-menu a{
        color: #fff;
        padding:0 15px;
        font-size: 16px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      }
      .main-menu li:hover a, .main-menu li:active a {
        background: #fff;
        border-radius: 15px;
        height: 30px;
        color: #323232;
      }
      .main-menu li li a:hover, .main-menu li li a:active {
        background: inherit;
      }
     /*-----   Подменю    -----*/
    .main-menu .sub-menu {
        display: none;
      }
      .main-menu .opened {
        position: relative;
      }
        .sub-menu {
          position: absolute;
          display: block;
          left: 0;
          top: 31px;
          width: 140px;
          padding-bottom: 15px;
          background-color: #f8f7f4;
          border-radius: 10px;
          box-shadow: 0 30px 50px rgba(0, 0, 0, 0.5);
          z-index: 1;
        }
          .sub-menu li {
            padding-left: 15px;
          }
          .sub-menu a {
            font-size: 14px;
            font-weight: 500;
            padding: 5px 0;
            margin: 0;
            color: #323232;
            white-space: nowrap;
          }
          .sub-menu li:hover {
            background-color: #fbded8;
          }
          .sub-menu lh {
            font-size: 14px;
            font-weight: bold;
            color: #323232;
            padding: 5px 0 5px 20px;
            border-bottom: 2px solid #d1d0ce;
          }
          .main-menu .opened:hover .sub-menu,
          .main-menu .opened:active .sub-menu,
          .sub-menu:hover {
            display: block;
          }
      /*Конец подменю*/
      .user-block {
        margin-top: 12px;
        align-items: flex-start;
      }
      .user-block .search {
        display: block;
        height: 32px;
        width: 32px;
        background: rgba(255, 255, 255, 0.2);
        padding: 7px auto;
        border-radius: 50%;
        margin-right: 10px;
      }
        .user-block .search img {
          padding: 7px;
        }
      .enter .login, .cart .login {
        position: relative;
        padding:3px 15px 5px 45px;
        display: inline-block;
        margin-right: 10px;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 15px;
      }
      .cart .login {
        padding-right: 30px;
      }
        .login::before {
          content: "";
          position: absolute;
          background: transparent url(../img/icon-enter.png);
          width: 21px;
          height: 19px;
          left: 18px;
          top: 7px;
        }
        .cart .login::before {
          background: transparent url(../img/icon-cart.png);
          height: 20px;
        }
  .header-bottom {
    flex-direction: column;
    align-items: flex-end;
    margin-top: -15px;
    padding-right: 10px;
    padding-top: 10px;
    color:  #fff;
  }
    .header-bottom  p {
      margin:  0;
      padding:  0;
      font-size: 14px;
    }
    .header-bottom span {
      font-size: 22px;
    }
     /*Конец хедера - начало блока banner*/
    .banner {
      display: flex;
      justify-content: space-between;
      padding-top: 40px;
    }
      .banner h2{
        font-size: 35px;
        line-height: 41px;
        font-weight: bold;
      }
      .banner p {
        font-size: 18px;
        line-height: 22px;
        font-weight: bold;
      }
      .banner-left, .banner-right {
        width: 48.9%;
        border-radius: 15px;
        padding: 20px;
        box-sizing: border-box;
      }
      .banner-left {
        background: #ca4360 url(../img/bg-berry.jpg) no-repeat;
        background-size: cover;
      }
      .banner-right {
        background: #805c4c url(../img/bg-choco.jpg) no-repeat;
        background-size: cover;
      }
      .banner .btn {
        display: inline-block;
				float: right;
        padding: 12px 20px;
				margin-top: 20px;
        font-size: 18px;
        line-height: 24px;
        border-radius: 25px;
      }

		      /*Каталог товаров*/
		.catalog-list {
			width: 100%;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			margin-top: 35px;
		}
			.catalog-item {
				width: 23.3%;
        position: relative;
			}
				.catalog-item .hit {
					position: absolute;
					top: 0;
          left: 0;
					z-index: 2;
				}
        .catalog-item img{
          border-radius: 100%;
        }
				.catalog-item .price{
					display: inline-block;
					position: absolute;
					top: 210px;
          left:0;
          padding-left: 5px;
					z-index: 2;
					font-size: 45px;
					line-height: 45px;
					font-weight: bold;
					color: #fff;
					text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
				}
					.catalog-item .price img {
						margin: 0;
						padding: 0;
						margin: 0 3px -3px 6px;

					}
					.catalog-item .price span {
						font-size: 30px;
						line-height: 45px;
						vertical-align: baseline;
					}
				.catalog-item p {
					font-weight: bold;
					text-align: center;
					margin-top: 5px;

				}
  				.catalog-item p a {
  					border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  				}
          .catalog-item .btn {
            opacity: 0;
            display: block;
            padding: 12px 10px;
    				margin: 15px 25px;
            font-size: 18px;
            line-height: 24px;
            text-align: center;
            border-radius: 25px;
          }
        .catalog-item:hover {
          background: rgba(255, 255, 255, 0.3);
          border-radius: 5px;
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
        }
          .catalog-item:hover .btn {
          opacity: 1;
          }
          .catalog-item:hover .btn:hover {
            background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
            background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
            background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
            box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
          }
		/*Блок преимуществ*/
		.features {
			display: block;
			margin-top: 20px;
			background: #eee2cb url("../img/pattern-waffle.jpg");
			border-radius: 10px;
			padding: 23px 15px 12px;

		}
			.features h2 {
				color: #323232;
				font-size: 24px;
				font-weight: 500;
				line-height: 30px;
				margin-bottom: 7px;

			}
				.features-desc {
					display: flex;
					justify-content: space-between;
					flex-wrap: wrap;
				}
					.features-item {
						width: 48.5%;
					}
						.features-item p {
							position: relative;
							padding-left: 55px;
							display: inline-block;
							color: rgba(50,50,50,0.8);
							font-size: 16px;
							line-height: 22px;
							font-weight: 500;
							margin: 14px 0;
						}
						.features-item p::before {
							content: "";
							position: absolute;
							background: transparent url(../img/icon-cow.png);
							width: 49px;
							height: 49px;
							left: 0;
							top: -12px;
						}
							.features-item:nth-child(1) p::before {
								background: transparent url(../img/icon-icecream.png);
							}
							.features-item:nth-child(2) p::before {
								background: transparent url(../img/icon-cow.png);
							}
							.features-item:nth-child(3) p::before {
								background: transparent url(../img/icon-leaf.png);
							}
							.features-item:nth-child(4) p::before {
								background: transparent url(../img/icon-temperature.png);
							}
    /*Новости + рассылка*/
			.two-blocks {
				display: flex;
				justify-content: space-between;
				margin-top: 35px;
			}
        .two-blocks p {
          color: #000;
        }
				.two-blocks-left, .two-blocks-right {
					width: 48.9%;
					box-sizing: border-box;
					border-radius: 15px;
				}
        .two-blocks-left {
          background: #f8f7f4 url("../img/bg-icecream.jpg");
          background-size: cover;
          padding-top: 20px;
          padding-left: 15px;
        }
          .two-blocks-left p {
            margin: 0;
            padding-bottom: 10px;
            font-size: 16px;
            line-height: 22px;
            font-weight: 500;
            color: #323232;
          }
          .two-blocks-left a {
            font-size: 24px;
            line-height: 30px;
            font-weight: bold;
            color: #323232;
            text-decoration: underline;
          }
        .two-blocks-right {
          background: #f8f7f4 url("../img/pattern-post.jpg");
        }
          .substrate {
            background: #f8f7f4;
            margin: 5px;
            border-radius: 9px;
            padding: 30px 20px;
          }
            .substrate p {
              margin: 0;
              font-size: 16px;
              line-height: 22px;
              font-weight: 500;
              color: #5a5a5a;
            }
            .substrate .post-form {
              margin-top: 35px;
              display: flex;
              justify-content: space-between;
            }
              .post-form input {
                flex-grow: 1;
                font-size: 16px;
                font-weight: 500;
                padding-left: 10px;
                border: 1px solid #d3d3d2;
                border-radius: 5px;
              }
              .post-form input:hover {
                border: 3px solid #c7c6c5;
              }
              .post-form input:focus {
                border: 3px solid #8fbdec;
                }
              .post-form .btn {
                padding: 12px 15px;
                font-size: 18px;
                line-height: 24px;
                text-align: center;
                border-radius: 25px;
                margin-left: 10px;
              }
    .map {
      position: relative;
      width: 100%;
      margin: 40px auto 0;
      height: 425px;
      background: url("../img/bg-cart.jpg") no-repeat;
      background-size: cover;
    }
      .map-pin {
        position: absolute;
        top:165px;
        left: 300px;
        width: 153px;
        height: 142px;
        background: url("../img/pin-icecream.png") no-repeat;
      }
      .map .address {
        display: block;
        float: right;
        width: 250px;
        font-size: 18px;
        line-height: 24px;
        color: #323232;
        background-color: #fff;
        border-radius: 10px;
        padding: 25px;
        margin-top: 60px;
      }
        .address p {
          margin: 0;
          color: #323232;
          line-height: 20px;
        }
        .address .btn {
          padding: 10px 20px;
          font-size: 18px;
          line-height: 24px;
          text-align: center;
          border-radius: 25px;
          margin: 20px auto 0;
        }
      /*footer*/
      .main-footer .content-wrapper{
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
      }
        .footer-social {
          align-self: center;
        }
        .social-btn {
          margin-right: 10px;
          width: 32px;
          height: 32px;
          display: inline-block;
          font-size: 0;
          border: 4px solid rgba(255, 255, 255, 0.4);
          border-radius: 50%;
        }
        .social-btn:hover,
        .main-footer .btn:hover {
          filter: invert(100%);
        }
        .social-btn-tw {
          background: url(../img/tw.png) no-repeat center;
        }
        .social-btn-inst {
          background: url(../img/inst.png) no-repeat center;
        }
        .social-btn-fb {
          background: url(../img/fb.png) no-repeat center;
        }
        .social-btn-vk {
          background: url(../img/vk.png) no-repeat center;
        }
    .footer-menu {
      align-self: center;
      position: relative;
    }
      .footer-menu {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 330px;

      }
      .footer-menu a {
        color: #fff;
        font-size: 13px;
        line-height: 20px;
        font-weight: bold;
        margin-left: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      }
      .footer-menu::before {
          content: "";
          position: absolute;
          background: transparent url(../img/herz.png);
          width: 15px;
          height: 13px;
          left: 0;
          top: 7px;
      }
    .footer-copyright {
      display: flex;
      justify-content: space-between;
    }
      .footer-copyright section {
        margin-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .footer-copyright p {
        font-size: 12px;
        font-weight: 500;
        margin: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      }
      .footer-copyright .copy {
        font-size: 18px;
        font-weight: bold;
      }

    /*------Всплывающие модальные окна--------*/

  .modal-search, .modal-form {
    display: none;
  }

  .modal-user {
    position: absolute;
    display: block;
    right: 16%;
    top: 57px;
    width: 275px;
    padding: 20px;
    background-color: #f8f7f4;
    border-radius: 10px;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.5);
    z-index: 2;
  }
    .login-form {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
      .login-form input[type="email"],
  		.login-form input[type="password"] {
  		  width: 99%;
  		  margin: 0;
  		  margin-bottom: 10px;
  		  padding: 10px;
  		  font-size: 14px;
  			font-weight: 700;
  		  line-height: 24px;
  		  font-family: "PT Sans Narrow", "Arial", sans-serif;
  		  color: #999;
  		  background-color: #fff;
  		  border: 2px solid #d1d0ce;
        border-radius: 10px;
  		  outline: none;
  		}
      .login-form .btn {
        font-size: 18px;
        line-height: 24px;
        font-weight: bold;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 20px;
      }
      .login-form .restore a{
        color: #323232;
        font-size: 14px;
        line-height: 24px;
        font-weight: 500;
        border-bottom: 1px solid #d1d0ce;
      }
