
@font-face {
    font-family: "Roboto";
    src:
		url("../fonts/Roboto-Regular.ttf")  format("truetype");
		font-weight: normal;
}
@font-face {
    font-family: "Roboto";
    src:
		url("../fonts/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Roboto";
    src:
    url("../fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "Roboto";
    src:
		url("../fonts/Roboto-Light.ttf") format("truetype");
    font-weight: light;
}
/* --------------- базовые настройки ---------*/
html {
	min-height:100%; /* всегда показываем вертикальную полосу прокрутки  */
}
	body {
		margin: 0;
		padding: 0;
	  font-family: "Roboto", "Arial", sans-serif;
	  background-color: #849d8f;
		font-size: 14px;
		line-height: 24px;
    min-height:100%;
	}
	a, a:visited { /* порядок правил для ссылок имеет значение */
		text-decoration: none;
		color: #fff;
	}
	a:hover {
	}
	a:focus, a:active {
	}
	img{
		max-width:100%;
	}

	ul{
		padding: 0;
		margin: 0;
	}
	nav ul {
	  list-style:none;
	}
	h1{
		font-size: 40px;
	}
	h2 {
		font-size: 36px;
		line-height: 36px;
    color: #fff;
    margin:  0;
	}
	p{
		font-size: 16px;
		line-height: 22px;
		color: #fff;
	}
	b {
		font-size: 18px;
		line-height: 30px;
	}

 /*---Настройки фона и слайдера---*/

body > input[type="radio"] {
  display: none;
}
.site-wrapper {
  max-width: 2000px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

/* Псевдоэлементы с изображениями нужны только для предзагрузки картинок, чтобы они уже были в кеше в момент переключения слайдов и сразу отображались */

.site-wrapper:before,
.site-wrapper:after {
  content: "";
  visibility: hidden;
}
.site-wrapper:before {
  background-image: url("../img/slider-img-2.png");
}
.site-wrapper:after {
  background-image: url("../img/slider-img-3.png");
}
.content-wrapper {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.slider {
  position: relative;
  padding-top: 270px;
  text-align: center;
  color: #fff;
}
.slide {
  display: none;
}
.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 22px;
	line-height: 1.1;
  font-weight: 800;
  font-size: 60px;
}
.slide-btn {
  display: inline-block;
  padding: 12px 50px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slide-btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  margin-top: 5px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-img-1.png");
}
#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-img-2.png");
}
#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-img-3.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #fff;
}
/*---Конец настройки фона и слайдера---*/
/*--- header---*/
.main-header {
  font-weight: bold;
}
.main-header a {
  margin:  0;
  padding: 0;
}
.main-header * {
  display: flex;
}
  .header-top {
    flex-wrap: wrap;
  }
    .main-menu {
      margin-top: 15px;
      margin-left: 15px;
      align-items: flex-start;
      flex-grow: 1;
    }
      .main-menu a{
        color: #fff;
        padding:0 15px;
        font-size: 16px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      }
      .main-menu .sub-menu {
        display: none;
      }
      .user-block {
        margin-top: 12px;
        align-items: flex-start;
      }
      .user-block .search {
        display: block;
        height: 32px;
        width: 32px;
        background: rgba(255, 255, 255, 0.2);
        padding: 7px auto;
        border-radius: 50%;
        margin-right: 10px;
      }
        .user-block .search img {
          padding: 7px;
        }
      .enter .login, .cart .login {
        position: relative;
        padding:3px 15px 5px 45px;
        display: inline-block;
        margin-right: 10px;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 15px;
      }
      .cart .login {
        padding-right: 30px;
      }
        .login::before {
          content: "";
          position: absolute;
          background: transparent url(../img/icon-enter.png);
          width: 21px;
          height: 19px;
          left: 18px;
          top: 7px;
        }
        .cart .login::before {
          background: transparent url(../img/icon-cart.png);
          height: 20px;
        }
  .header-bottom {
    flex-direction: column;
    align-items: flex-end;
    margin-top: -15px;
    padding-right: 10px;
    padding-top: 10px;
    color:  #fff;
  }
    .header-bottom  p {
      margin:  0;
      padding:  0;
      font-size: 14px;
    }
    .header-bottom span {
      font-size: 22px;
    }
     /*Конец хедера*/
    .banner {
      display: flex;
      justify-content: space-between;
      padding-top: 40px;
    }
      .banner-left, .banner-right {
        height: 229px;
        width: 560px;
        border-radius: 15px;
        padding: 20px;
        box-sizing: border-box;
      }
      .banner-left {
        background: #ca4360 url(../img/bg-berry.jpg) no-repeat;
      }
      .banner-right {
        background: #805c4c url(../img/bg-choco.jpg) no-repeat;
      }
      .banner h2 {

      }




  .modal-user, .modal-search {
    display: none;
  }
